In [1]:
# immutable example
def process(s):
    print('Initial s # = {0}'.format(id(s)))
    s = s + ' world'
    print('Final s # = {0}'.format(id(s)))

In [2]:
my_var = 'hello'
print('my_var # = {0}'.format(id(my_var)))

my_var # = 4437809392

In [3]:
process(my_var)

Initial s # = 4437809392
Final s # = 4437798448

In [4]:
id(my_var)

4437809392

In [5]:
my_var # unchanged

'hello'

In [6]:
# mutable example
def modify_list(lst):
    print('Initial lst # = {0}'.format(id(lst)))
    lst.append(100)
    print('Final lst # = {0}'.format(id(lst)))

In [7]:
my_list = [1, 2, 3]
id(my_list)

4436525768

In [8]:
modify_list(my_list)

Initial lst # = 4436525768
Final lst # = 4436525768

In [9]:
id(my_list)

4436525768

In [10]:
my_list # changed

[1, 2, 3, 100]

In [11]:
# immutable w/ mutable refs
def modify_tuple(t):
    print('Initial t # = {0}'.format(id(t)))
    t[0].append(100)
    print('Final t # = {0}'.format(id(t)))

In [12]:
my_tuple = ([1, 2], 'a')

In [13]:
id(my_tuple)

4436632392

In [14]:
modify_tuple(my_tuple)

Initial t # = 4436632392
Final t # = 4436632392

In [15]:
id(my_tuple)

4436632392

In [16]:
my_tuple

([1, 2, 100], 'a')