In [1]:
(10, 20, 30)

(10, 20, 30)

In [2]:
a = (10, 20, 30)
b = 10, 20, 30

In [3]:
type(a)

tuple

In [4]:
type(b)

tuple

In [5]:
a = 1, 2, 3, 4, 5, 6, 7

In [6]:
a[2:5]

(3, 4, 5)

In [7]:
for e in a:
    print(e)

1
2
3
4
5
6
7

In [8]:
a = 'a', 10, 20

In [9]:
x, y, z = a

In [10]:
x

'a'

In [11]:
a = 1, 2, 3, 4, 5

In [13]:
x, *other, y, z = a

In [14]:
x

1

In [15]:
other

[2, 3]

In [16]:
y

4

In [17]:
# _ is convention for "other" or "ignored" variables
x, *_, y, z = a

In [18]:
a[0]

1

In [19]:
# tuples are immutable
a[0] = 100

TypeError: 'tuple' object does not support item assignment

In [20]:
# but if the object inside a tuple is mutable, the data can change
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def __repr__(self):
        return f'{self.__class__.__name__}(x={self.x}, y={self.y})'

In [21]:
pt = Point2D(10, 20)

In [22]:
pt

Point2D(x=10, y=20)

In [23]:
id(pt)

4496871832

In [24]:
pt.x = 100

In [25]:
pt

Point2D(x=100, y=20)

In [26]:
id(pt)

4496871832

In [27]:
a = Point2D(0, 0), Point2D(10, 20)

In [28]:
a

(Point2D(x=0, y=0), Point2D(x=10, y=20))

In [29]:
a[0].x = 100

In [30]:
a

(Point2D(x=100, y=0), Point2D(x=10, y=20))

In [31]:
a = 1, 2, 3

In [32]:
id(a)

4496661456

In [33]:
a += 4, 5

In [34]:
a

(1, 2, 3, 4, 5)

In [35]:
id(a) # tuples are immutable - created a new tuple!

4495458552

In [36]:
pt1 = (0, 0)
pt2 = (10, 20)

In [37]:
london = ('London', 'UK', 8_780_000)
new_york = ('New York', 'USA', 8_500_000)
beijing = ('Beijing', 'China', 21_000_000)

In [38]:
cities = [london, new_york, beijing]

In [39]:
total = 0
for city in cities:
    total += city[2]
print(total)

38280000

In [41]:
sum(city[2] for city in cities)

38280000

In [42]:
record = 'DJIA', 2018, 1, 19, 25_987, 26_072, 25_942, 26_072

In [43]:
symbol, year, month, day, open, high, low, close = record

In [44]:
symbol

'DJIA'

In [45]:
close

26072

In [46]:
symbol, *_, close = record

In [47]:
symbol, close

('DJIA', 26072)

In [48]:
print(_)

[2018, 1, 19, 25987, 26072, 25942]

In [49]:
# unpack directly in loops (this is how enumerate works)
for city, country, population in cities:
    print(city, country, population)

London UK 8780000
New York USA 8500000
Beijing China 21000000

In [52]:
for index, city in enumerate(cities):
    print(index, city)

0 ('London', 'UK', 8780000)
1 ('New York', 'USA', 8500000)
2 ('Beijing', 'China', 21000000)